<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>147696194039-f39maajd6un18tvkucr1hdhgtrjqd63g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147696194039-f39maajd6un18tvkucr1hdhgtrjqd63g</string>
	<key>API_KEY</key>
	<string>AIzaSyA1UG7wp_UyBwkSdx1Ssd93Bqlxaxw3b8M</string>
	<key>GCM_SENDER_ID</key>
	<string>147696194039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hortune.aRadar</string>
	<key>PROJECT_ID</key>
	<string>mppfinal-7c0d7</string>
	<key>STORAGE_BUCKET</key>
	<string>mppfinal-7c0d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147696194039:ios:4ee1c02574056729</string>
	<key>DATABASE_URL</key>
	<string>https://mppfinal-7c0d7.firebaseio.com</string>
</dict>
</plist>